@media all and (max-width: 1200px){
    .single-portfolio-item {
        width: 50%;
    }
    single-portfolio-item:last-child {
        width: 100%;
    }
    
}

@media all and (max-width: 768px){
    .toggle {
        display: block;
        background-color: transparent;
        padding: 0px 30px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
/*        width: auto;*/
    }
    ul {
        display: none;
    }
    #menu #drop:checked + ul {
        display: block;
        
        
    }
    li {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: right;
    }
    
    .main-header-content {
        padding: 10%;
        
    }
    figure {
        width: 100%;
        
    }
    img {
        max-height: inherit;
    }
    article {
        width: 100%;
    }
    .single-portfolio-item {
        width: 100%;
    }
    .contact-data {
        width: 100%;
        text-align: center;
    }
    .contact-form {
        width: 100%;
    }
    a {
        margin: 0;
    }
    #labelcheckbox {
    display: block;
}
}

@media all and (max-width: 680px){
    section {
        padding: 0 40px 50px;
    }
    
    #kk {
        font-size: 3em;
        
    }
    #fed {
        font-size: 1.5em;
    }
    
    
}

@media all and (max-width: 480px){
    section {
        padding: 0 10px 30px;
    }
}

