@media (min-width:993px) and (max-width:1169px) {
    #main-header-background {
        background-image: url(../img/man-2.jpg);
        
    }
    
    #main-header-content {
        position: absolute;
        right: 20px;
        left: auto;
        top: 20px;
    }
    
    #main-header {
        height: 70%;
    }
}

@media (max-width:992px){
    #main-header {
        height: 50%;
    }
    #main-header-content {
        color:black;
        margin: 0 auto;
        text-align: center;
        position: static;
    }
}