nav {
    background-color: transparent;

}

#bgrid1 {
    width: 100%;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
}

#div123 {
    height: 50px;
}

#button {
    color: white;
}



nav a {
    color: white;
}

.navbar-header a:hover {
    color: white;
    text-decoration: underline;
}

/*SEKCJA HEADER*/

header {
    height: 1000px;
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: 30% 27%;
    background-blend-mode: overlay;
    background-color: #5f5f5f;
}

#header-content {
    color: white;
    text-align: center;
}

h1 {
    font-size: 90px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 800;
    margin: 40px;
}

#header-content>p {
    font-size: 45px;
}

h2 {
    color: #333333;
    font-weight: 700;
    font-size: 50px;
}

p {
    font-family: 'Droid Serif', serif;
    font-style: italic;
}

button {
    color: white;
    background-color: #0ed8d6;
    border: none;
    padding: 1.5em 4em;
    font-size: 20px;
    font-weight: 600;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*SEKCJA SERVICES*/
#services {
    margin-top: 200px;
    margin-bottom: 200px;
}

#services>p {
    font-size: 20px;
}

.icons {
    font-size: 70px;
    color: white;
    
    
    
}
.kolo {
    background-color: #0ed8d6;
    width: 120px;
    height: 120px;
    border-radius: 100%;
   
        
}

.center-block {
    margin: 0 50%;
    transform: translateX(-50%)
}

#services-content {
    margin-top: 100px;
}

/*SEKCJA PORTFOLIO*/

#portfolio {
    background-color: #f7f7f7;
}
.element-portfolio {
/*    height: 350px;*/
/*
    overflow: hidden;
    position: relative;
    
*/
}

/*
.element-portfolio > img {
  max-width: 100%;
  bottom: 0;
  position: absolute;
    max-height: 320px;
*/



.thumbnail {
    border: 0;
}

/*
#element-portfolio1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);

}

#element-portfolio2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#element-portfolio3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);

}
*/

.element-portfolio>img:hover {
    background-color: #0ed8d6;
    background-blend-mode: overlay;
}

/*
#element-portfolio4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}
#element-portfolio5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg)
}

#element-portfolio6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg)
}
*/

/*SEKCJA TEAM*/

i {
    color:white; 
}

.icon:hover {
    background-color: #0ed8d6;
}

.fa-facebook {
    position: relative;
    left: -1px;
    top: 1px;
}

.fa-linkedin {
    position: relative;
    left: 1px;;
}

.icon {
    background-color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    align-self: center;
    text-align: center;
    font-size: 25px;
    display: inline-block;
/*
    display: flex;
    justify-content: center;
    align-items: center;
*/
}

/*SEKCJA KONTAKT*/
#contact {
    background-color: #363636;
    background-image: url('../img/footer/world-map.jpg');
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
}

#contact h2, #contact p {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact ::placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
