* {
    margin: 0;
    padding: 0;
}
html , body {
    height: 100%;
}

#main-header {
    width: 100%;
    position: relative;
    height: 100%;
}
#main-header-background {
    background: url(../img/man-1.jpg);
    background-size: cover;
    background-position: center;
    
    height: 100%;
    
   
}

#main-header-content {
    color: white;
    font-family: "Verdana";
    position: absolute;
    top: 50%;
    left: 20px;
}

