* {
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: 300;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Diplomata SC', cursive;
    color: black;
    transform: scale(0.5, 1);
    padding-top: 20px;
    padding-bottom: 40px;
    
}



h3 {
    text-align: center;
    font-size: 30px;
    font-family: "Diplomata SC", cursive;
    transform: scale(0.5,1);
    
}


/*MENU NAWIGACYJNE*/

nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #43d236;
    text-align: center;
    color: black;
    opacity: 0.9;;
}

nav ul {
    text-decoration: none;
    padding-top: 5px;
}

nav li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    transform: scale(0.5, 1);
    list-style-type: none;
    text-decoration-color: none;
}

nav a, nav a:focus {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Diplomata SC', cursive;
    color: black;
}

nav a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 2px #479458;
    text-decoration-color: none;
    color: black;
}


/*HEADER*/

#naglowek {
    background-image: url(../img/route66.jpg);
    width: 100%;
    height: 500px;
/*        background-size: cover;*/
    position: relative;
    background-position: center;
/*        background-repeat: no-repeat;*/
}

#maska {
    background: white;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/*SEKCJA O NAS*/



#o-nas {
    width: 100%;
    overflow: auto;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #43d236;
}



img {
    height: 350px;
    
    border: 6px solid #479458;
    border-radius: 6%;
   
}



p {
    display: inline-block;
    
    padding: 30px;
}




/*SEKCJA MENU*/

#menu {
    background-image: url(../img/route66-2.jpg);
    background-position: center;
    width: 100%;
   background-size: cover;
    margin-bottom: 20px;
        position: relative;
}

#maska-menu {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.59;
    /*    position: absolute;*/
/*    padding: 30px 30px 30px 30px;*/
    position: absolute;
    top: 0;
    left: 0;
}

#menu-content {
    opacity: 1;
    height: inherit;
    position: relative;
    width: 100%;
}

#last {
    padding-bottom: 50px;
}






.pozycja-menu, .pozycja-menu3, span {
    font-family: 'Amarante', cursive;
    font-size: 30px;
    
}

.pozycja-menu3 {
    margin-bottom: 30px;
}

#sosy {
    font-size: 20px;
}



.opis-burgera {
    margin-bottom: 30px;
    font-size: 20px;
}

#tekst-menu {
    padding: 40px;
}

.cena {
    text-align: right;
    font-family: "Amarante", cursive;
    font-size: 25px;
    
}

.left-column, .right-column {
    padding-left: 40px;
    padding-right: 40px;
}


/*SEKCJA GALERIA*/

#galeria {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    
    margin-bottom: 20px;
    padding-bottom: 50px;
}

img:hover {
    opacity: 0.8;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}




/*SEKCJA KONTAKT*/

#contact {
    background-color: #43d236;
    width: 100%;
/*    overflow: hidden;*/
/*   margin: 50px 0 0 0;*/
   
    padding-top: 50px;
    padding-bottom: 50px;
}


address {
    text-align: center;
}
.icon {
    font-size: 30px;
}

.icon:hover {
    transform: scale(1.3);
}



